@using FormSubmission.Models
@model User

<div class="container">
    <h1>Submitted Info</h1>
    <h3>First Name: @Model.fname</h3>
    <h3>Last Name: @Model.lname</h3>
    <h3>Age: @Model.age</h3>
    <h3>Email: @Model.email</h3>
    <h3>Password: @Model.password</h3>
    <button><a href="/">Go Back</a></button>
</div>